body{ background-image: url("https://image.freepik.com/free-vector/gray-white-crystal-textured-background_53876-86343.jpg");
    border-image-repeat: stretch;

}

#container { margin-left: 200px;
    
    height: 750px;
            width: 660px;
}


span {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 28px;
}

#titleBox {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 40px;
    height: 30px;
    width: 600px;
    padding: 20px;
    background: rgba(243, 200, 197, 0.836);
    margin-bottom: 10px;
}



#game-instructions {
    float: left;
    height: 600px;
    width: 800px;
    padding: 20px;
    background: rgba(255, 251, 214, 0.521);
}

#blueCrystal{
    margin-left: 20px;

}

.crystalimg {
    float: left;
    margin-top: 10px;
    height: 160px;
    margin-left: 35px;
}

.scorebox {
    background: green;
    padding: 20px;
    height: 200px;
    width: 200px;
    text-align-last: auto;
}